html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media only screen and(min-width:768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and(min-width:480) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and(max-width:479) {
  body {
    font-size: 14px;
  }
}

.spanMenu:after {
  content: "";
  height: 2px;
  background-color: white;
  left: 0;
  right: 0;
  bottom: -6px;
  position: absolute;
  transform: scale(0);
  transform-origin: left center;
  transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.NavMenu:hover .spanMenu:after {
  transform: scale(1);
  opacity: 1;
}

.slick-list {
  margin: 0 3.5rem !important;
  overflow: visible !important;
}

.slick-slide > div {
  margin: 0 5px;
}
.slick-next {
  right: 0.05rem !important;
}
.slick-prev {
  left: 0.05rem !important;
}

.slick-next,
.slick-prev {
  z-index: 10;
  width: 50px !important;
  height: 100% !important;
  opacity: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
}

.slick-next:hover,
.slick-prev:hover {
  opacity: 1;
}

.slick-dots li button {
  padding: 0px !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
  font-size: 10px !important;
}
.slick-dots li button:before {
  color: rgba(230, 226, 226, 0.419) !important;
  opacity: 1 !important;
  font-size: 10px !important;
}
.WrapImageSlider {
  border-radius: 0.5rem;
  height: 100%;
}
.WrapImageSlider:focus,
.WrapImageSlider > img:focus {
  border: 0 !important;
}
.slick-slider:hover .slick-next,
.slick-slider:hover .slick-prev {
  opacity: 1;
  background: linear-gradient(
    to left,
    transparent,
    rgba(12, 17, 27, 0.7),
    rgba(12, 17, 27, 0.9)
  );
}
